<div class="container md-whiteframe-1dp">

  <md-list flex>

    <div layout="row">
      <md-subheader class="md-no-sticky md-block">
        Manage Roles
      </md-subheader>
      <span flex></span>
      <md-button class="md-primary md-block" ng-click="$ctrl.onAddRoleBtn($event)" aria-label="Add Role">Add Role</md-button>
    </div>

    <md-list-item class="md-2-line" ng-repeat="role in $ctrl.roles">
      <div class="md-list-item-text" layout="column">
        <h3>{{role.name}}</h3>
      </div>
      <md-button class="md-secondary md-icon-button" ng-click="$ctrl.onRoleSettingBtn($event, role)" ng-if="$ctrl.Auth.getCurrentUser().role.id !== role.id && $ctrl.Auth.hasScope('roles:write')">
        <md-icon md-svg-icon="setting"></md-icon>
      </md-button>
      <md-button aria-label="Delete" class="md-secondary md-icon-button" ng-click="$ctrl.onRoleDeleteBtn($event, role)" ng-if="$ctrl.Auth.getCurrentUser().role.id !== role.id && $ctrl.Auth.hasScope('roles:write')">
        <md-icon md-svg-icon="delete"></md-icon>
      </md-button>

      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>


  </md-list>

</div>
