signin > .container {
  max-width: 450px;
  padding: 48px 40px 36px;
  margin: 40px auto 60px;
}

signin > .container md-input-container {
  margin-bottom: 30px;
}

signin .forgot-btn {
  margin-left: -5px;
}
