<md-card class="container">

  <h2 class="md-headline">
    Sign in
  </h2>

  <form name="signinForm" ng-submit="$ctrl.login(signinForm)">

    <md-input-container class="md-block">
      <label>Email</label>
      <input required md-no-asterisk type="email" name="email" ng-model="$ctrl.email">
      <div ng-messages="signinForm.email.$error">
        <div ng-message="required">Email is required.</div>
        <div ng-message="wrong">Couldn't find this account.</div>
        <div ng-message="unknown">Unknown error occurred. Try again.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Password</label>
      <input required md-no-asterisk type="password" name="password" ng-model="$ctrl.password">
      <div ng-messages="signinForm.password.$error">
        <div ng-message="required">Password is required.</div>
        <div ng-message="wrong">Wrong password. Try again.</div>
        <div ng-message="unknown">Unknown error occurred. Try again.</div>
      </div>
    </md-input-container>
    <div layout="row" layout-align="center center" flex>
      <md-button ui-sref="forgotPassword" class="md-primary forgot-btn">Forgot Password</md-button>
      <span flex></span>
      <md-button class="md-raised md-primary" type="submit">Sign in</md-button>
    </div>

  </form>

</md-card>
