<md-dialog aria-label="Change Password" style="min-width: 300px;">
  <form name="form" ng-submit="$ctrl.onFormSubmit(form)">

    <md-dialog-content style="max-width:800px; padding:32px 0px;">

      <div style="padding:0 16px;">
        <h3 class="md-headline" style="margin-top:0;">Change Password</h3>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Old Password</label>
          <input required type="password" name="oldPassword" ng-model="$ctrl.oldPassword" autocomplete="off">
          <div ng-messages="form.oldPassword.$error">
            <div ng-message="required">Old password is required.</div>
            <div ng-message="wrong">Wrong password. Try again.</div>
            <div ng-message="wentWrong">Something went wrong.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>New Password</label>
          <input required type="password" name="newPassword" ng-model="$ctrl.newPassword" autocomplete="off">
          <div ng-messages="form.newPassword.$error">
            <div ng-message="required">New password is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Confirm Password</label>
          <input required type="password" name="confirmPassword" ng-model="$ctrl.confirmPassword" match="$ctrl.newPassword" autocomplete="off">
          <div ng-messages="form.confirmPassword.$error">
            <div ng-message="match">Passowrd did not match.</div>
          </div>
        </md-input-container>

      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="$ctrl.$mdDialog.cancel()" class="">
        Cancel
      </md-button>
      <md-button class="md-primary" type="submit">
        Ok
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
